*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;/* becuse dont overflow the screen small*/
    
}


:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}
body {

    font-size: clamp(13px,0.90vw,1rem );
    background-color:var(--Grey-900) ;
    font-family:"Inter", sans-serif;
}
.container{
    margin: 116px 0;
    display: flex; /* becase center the artical*/
    justify-content:center;

}
article{
    display: flex;/*becucs doing gab betwen header and list-section*/
    padding: 20px;
   width: 280px; ;
    flex-direction:column ;
    gap:10px;
    color:var(--White) ;
    background-color:var(--Grey-800) ;

}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.imag-header{
        width: 50px;
    border-radius: 50%;
}
.header p{
    color:var(--Green) ;
}
.header h5{
color: var(--Grey-700) ;
}
.list-section{
display: grid; /*  for doing  space easy between list amd list */
gap: 10px;
list-style: none;
flex-direction:column ;
text-align: center;
font-weight: 600;
}
.section-items-list{
    
    padding: 10px 0;
    border-radius: 10px ;
    background-color: hsl(0, 0%, 20%);
}
  @media screen and (max-width:400px) {
    article{
        max-width: 250px; /* or width not diffrent */
     }
    
} 